@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ORQA FON */
body {
  height: 100vh;
  background: url("./images/background.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35); /* ← shu yerda qorayadi */
  z-index: 0;
}
.credit {
  position: fixed;
  bottom: 15px;
  left: 20px;
  z-index: 2;

  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.credit a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.credit a:hover {
  text-decoration: underline;
}

.credit1 {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 2;

  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.credit1 a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.credit1 a:hover {
  text-decoration: underline;
}
/* LOGIN CARD (GLASS) */
.login-box {
  width: 380px;
  padding: 45px 40px;
  background: rgba(255, 255, 255, 0);
  border-radius: 20px;
  backdrop-filter: blur(28px);
  -webkit-backdrop-filter: blur(28px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  color: #fff;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

/* LOGO */
.logo {
  width: 140px; /* KATTAROQ QILINDI */
  margin-bottom: 30px;
}

/* INPUT CONTAINER */
.user-box {
  position: relative;
  margin-bottom: 30px;
}

/* INPUT */
.user-box input {
  width: 100%;
  padding: 10px 35px 10px 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  color: #fff;
  font-size: 16px;
  outline: none;
}

/* LABEL */
.user-box label {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  transition: 0.3s;
}

/* FLOATING LABEL */
.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -15px;
  font-size: 12px;
  color: #03e9f4;
}

/* PASSWORD BOX */
.password-box {
  position: relative;
}

/* KO‘ZCHA */
.password-box .toggle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

/* BUTTON */
button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.35);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

button:hover {
  background: rgba(255, 255, 255, 0.6);
}

/* LINKLAR */
a {
  color: #03e9f4;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}
