.table-responsive {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100% !important;
}

#sensorTable th,
#sensorTable td {
  font-size: 1.1rem;
  /* yozuv kattaligi */
}

.ac-btn {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  border: none;
  border-radius: 50%;
  padding: 10px 13px;
  color: white;
  font-size: 18px;
  box-shadow: 0 4px 10px rgba(0, 114, 255, 0.3);
  transition: 0.3s ease;
}

.ac-btn:hover {
  background: linear-gradient(135deg, #0072ff, #00c6ff);
  transform: scale(1.1) rotate(10deg);
  box-shadow: 0 6px 14px rgba(0, 114, 255, 0.5);
}
